@model IdentityUyelikSistemi_DotNet6.ViewModels.RoleViewModel

@{
    ViewData["Title"] = "RoleCreate";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
}



<h4>Role Oluşturma</h4>
<br />
<div class="row">
    <div class="col-md-4">
        <form asp-action="RoleCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Role Oluştur" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



